/* ---------------------------------- *\
    Positions
\* ---------------------------------- */

/* size */
.height100 {
    height: 100% !important;
}

.width100 {
    width: 100%;
    max-width: 100%;
}

.vh100 {
    height: 100vh !important;
}

/* display */
.block {
    display: block;
}

/* positions */
.relative {
    position: relative;
}

[class*=' absolute'],
[class^='absolute'] {
    position: absolute;
}

.absolute {
    &--top {
        top: 0;
    }

    &--bottom {
        bottom: 0;
    }

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }

    &--full {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}