/* ---------------------------------- *\
    spacing variables
\* ---------------------------------- */

/* sizes of padding and margin */
$sizes: 0, 5, 10, 15, 20, 30, 40, 45, 60, 90, 120, 150;

/* prefixes */
$contains: (
        'pt': padding-top,
        'pb': padding-bottom,
        'pr': padding-right,
        'pl': padding-left,
        'mt': margin-top,
        'mb': margin-bottom,
        'mr': margin-right,
        'ml': margin-left
);

/* responsive spacings */
$spacing-md: false;
$spacing-sm: true;
$spacing-xs: false;

@each $prefix, $meaning in $contains {
    @each $size in $sizes {
        .#{$prefix}#{$size} {
            #{$meaning}: $size*1px;
        }

        @if $spacing-md {
            @include md-down {
                .#{$prefix}#{$size}\:md {
                    #{$meaning}: $size*1px !important;
                }
            }
        }

        @if $spacing-sm {
            @include sm-down {
                .#{$prefix}#{$size}\:sm {
                    #{$meaning}: $size*1px !important;
                }
            }
        }

        @if $spacing-xs {
            @include xs-down {
                .#{$prefix}#{$size}\:xs {
                    #{$meaning}: $size*1px !important;
                }
            }
        }
    }
}